.spinner{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 240, 240, .4);
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.logo-sm{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80px;
  animation: scroll 2.5s infinite;
}

@keyframes scroll{
  to {
    transform: rotate(360deg);
  }
}